.cont button{

    margin-top: 60px;
    
    width: 60%;
    height: 300px;
    margin-left: 70px;
    border-radius: 20px;
    border: 4px solid #053d57;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: large;
   font-weight: 700;



}

.cont button:hover{

    border-color: #d21f40;

}

#bottom{
    margin-bottom: 60px;
}



.submit{
    background-color: #006884;
    color: white;
    width: 80px;
    height: 50px;
    border: 3px solid #006884;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;

    margin-left: 80px;

    margin-bottom: 90px;
  }
 .submit button:hover {
    background-color: transparent;
    color:  black;
    border-color:#d21f40 ;
  }

  input[type="text"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"] {
    margin-left: 80px;
  display: block;
  width: 40%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  
}
label{
    margin-left: 80px;
}