body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .content {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  select,
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .transfer-option {
    display: none;
  }
  
  .transfer-form {
    display: none;
    margin-top: 20px;
  }
  
  .show {
    display: block;
  }
  
  .transfer-type-select {
    margin-bottom: 20px;
  }
  
  .transfer-type-select label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .transfer-type-select select {
    width: 200px;
  }
  
  .transfer-option-buttons {
    margin-top: 20px;
  }
  
  .transfer-option-buttons button {
    display: inline-block;
    margin-right: 10px;
  }
  
  .transfer-option-buttons .active {
    background-color: #4e86e5;
    color: white;
  }
  
  .currency-options label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .currency-options select {
    width: 200px;
  }
  
  .currency-options .other-currency-input {
    display: none;
    width: 200px;
  }
  
  .currency-options .other-currency-label {
    display: none;
  }
  
  .transfer-option.active .currency-options .other-currency-input {
    display: inline-block;
  }
  
  .transfer-option.active .currency-options .other-currency-label {
    display: inline-block;
  }
  
  .buttonGroup {
    display: flex;
  }
  
  .transferButton {
    /* Add your desired button styles here */
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    flex: 1; /* Distribute the available space equally among the buttons */
    margin-right: 10px; /* Add some spacing between the buttons */
  }
  
  .transferButton:last-child {
    margin-right: 0; /* Remove margin for the last button */
  }
  
  .transferButton:hover {
    background-color: #ec1947;
  }
  
  button:hover {
    background-color: #ec1947;
  }
  